.button{
    border-radius: 50px;
    outline: none;
    border: none;
    font-family: variableFont;
    padding: .85rem;
    width: 14rem;
    margin-top: 1.3rem;
    
}

.primary{
    background: var(--dark-gray-blue);
    color: var(--pale-blue);
}


/* Media Queries */

@media screen and (max-width: 375px) {

 .button {

    width: 100%;
    font-size: 1.2rem;
    padding: 1rem;

 }

} 