.button {

    border-radius: 50px;
    outline: none;
    border: none;
    font-family: variableFont;
    padding: .85rem;
    width: 14rem;
    margin-top: 1.3rem;
    
}

.primary{
    background: var(--dark-gray-blue);
    color: var(--pale-blue);
}


/* Media Queries */


@media screen and (max-width: 700px) and (min-width: 400px) {

    .button { 
        font-size: 1.1rem;
        width: 18rem;
        margin-bottom: 30px;
        font-family: mediumFont;
        margin-left: 8px;
        padding: 0.9rem;

    }

    }


@media screen and (max-width: 399px) and (min-width: 281px) {

    .button { 
        font-size: 0.95rem;
        width: 15rem;
        margin-bottom: 30px;
        font-family: mediumFont;
        margin-left: 3px;
        padding: 0.8rem;
        margin-top: 1rem;

    }

    }
    
@media screen and (max-width: 280px)  {

    .button { 
       
        width: 14rem;
        margin-bottom: 30px;
        font-family: mediumFont;
        margin-left: 8px;
        padding: 0.9rem;
        margin-top: 0.7rem;
    }

    }