
.summarySection {

    background: white;
    padding: 2.5rem;
    padding-left: 2.8rem;
    padding-top: 1.2rem;
    border-radius: 20px;
    box-shadow: 1px 1px 20px 0px rgba(0,0,0, 0.1);
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    transform: translateX(-15px);
    /* z-index: -1; */
    
}


.summary {

    color: var(--dark-gray-blue);
    font-family: mediumFont;
    font-size: 1.1rem;
    margin-bottom: 20px;
    
}



/* Media Queries */

@media screen and (max-width: 700px) and (min-width: 400px) {
 
    .summarySection {

    transform: translateX(0px);
    box-shadow: none;
    padding: 0;
    padding-top: 1.5rem;
    padding-right: 0.2rem;
    
    
    }

}


@media screen and (max-width: 399px) and (min-width: 281px) {
 
    .summarySection {

    transform: translateX(0px);
    box-shadow: none;
    padding: 0;
    padding-top: 1.3rem;
    padding-left: 0.8rem;
    padding-bottom: 0;
    
    }


    .summary {

        font-size: 1rem;
    }

}


@media screen and (max-width: 280px) {
 
    .summarySection {

    transform: translateX(0px);
    box-shadow: none;
    padding-left: 35px;
    padding-bottom: 0;
    padding-top: 1.3rem;
    }

    
    .summary {

        font-size: 0.9rem;
    }

}