
.circle {

    background: linear-gradient(var(--cir-violet-blue), var(--cir-persian-blue));
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px;
    border-radius: 50%;
    
}

.score {

    color: var(--white);
    font-size: 4rem;
    font-family: extraboldFont;
}

.scoreTxt {

    font-family: variableFont;
    color: var(--light-lavender);
    font-size: 16px;
    opacity: 0.6;
}


/* Media Queries */

@media screen and (max-width: 375px) {

.circle {

    width: 10rem;
    margin: 25px auto;
    margin-bottom: 15px;
    height: 10rem;

}

}
