
.circle {

    background: linear-gradient(var(--cir-violet-blue), var(--cir-persian-blue));
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px;
    border-radius: 50%;
    
}

.score {

    color: var(--white);
    font-size: 4rem;
    font-family: extraboldFont;
}

.scoreTxt {

    font-family: variableFont;
    color: var(--light-lavender);
    font-size: 16px;
    opacity: 0.6;
}


/* Media Queries */


@media screen and (max-width: 700px) and (min-width: 400px) {

    .circle {

     margin: 23px 50px;
     padding: 1.5rem;
     margin-bottom: 20px;

    }

    .score {

        font-size: 3.5rem;
    }

    
    .scoreTxt {
        font-size: 15px;
    }
} 



@media screen and (max-width: 399px) and (min-width: 281px) {

    .circle {

     margin: 20px 60px;
     padding: 1.2rem;
     margin-bottom: 15px;

    }

    .score {

        font-size: 3rem;
    }

    
    .scoreTxt {
        font-size: 15px;
    }
} 


@media screen and (max-width: 280px)  {

    .circle {

     margin: 15px 25px;
     padding: 1.2rem;
     

    }

    .score {

        font-size: 3rem;
    }

    
    .scoreTxt {
        font-size: 13px;
    }
} 
