
.main {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    
}

/* Media Queries */

@media screen and (max-width: 700px) and (min-width: 400px) {

    .main {

        flex-direction: column;
        justify-content: flex-start;
        
    }

}


@media screen and (max-width: 399px) and (min-width: 281px) {

    .main {

        flex-direction: column;
        justify-content: flex-start;
        overflow-x: hidden;
    }

}

@media screen and (max-width: 280px)  {

    .main {

        flex-direction: column;
        justify-content: flex-start;
        overflow-x: hidden;
        
    }

    
    
}