
.main {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

/* Media Queries */

@media screen and (max-width: 375px) {

.main {

align-items: flex-start;  
flex-wrap: wrap;

}
    
}